nav {
    background-color: #36313c;
    padding: 10px;
    margin: 0 40px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 96%;
    z-index: 100;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

nav a:hover {
    background-color: white;
    color: #2e2b33;
    transform: scale(1.1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}